In [7]:
import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt

In [9]:
df=pd.read_csv('train.csv.zip')

In [11]:
df.shape

(404290, 6)

In [13]:
df.head()

,id,qid1,qid2,question1,question2,is_duplicate
0,0,1,2,What is the step by step guide to invest in sh...,What is the step by step guide to invest in sh...,0
1,1,3,4,What is the story of Kohinoor (Koh-i-Noor) Dia...,What would happen if the Indian government sto...,0
2,2,5,6,How can I increase the speed of my internet co...,How can Internet speed be increased by hacking...,0
3,3,7,8,Why am I mentally very lonely? How can I solve...,Find the remainder when [math]23^{24}[/math] i...,0
4,4,9,10,"Which one dissolve in water quikly sugar, salt...",Which fish would survive in salt water?,0

In [15]:
new_df=df.sample(30000)

In [17]:
new_df

,id,qid1,qid2,question1,question2,is_duplicate
205370,205370,308500,5587,What are some good teeth whitening kits?,What are some of the best teeth whitening toot...,0
312863,312863,437375,437376,"Is 5' 8"" (175 cm) too short to be a male fitne...","Is 5' 9"" (175 cm) too short to be a male fitne...",1
336518,336518,463886,463887,Nowadays people think they are modern just bec...,Why do some people still wear wristwatches?,0
15591,15591,29774,29775,What should I do improve my communication skill?,What should we do to improve communication ski...,1
383096,383096,515009,407150,I got a Jio SIM for Samsung mobile. Can I use ...,Can the same Jio SIM be used on two different ...,0
...,...,...,...,...,...,...
81524,81524,123687,138405,How does the 4G technology work?,FTTH or 4G Technology? Which one is best for h...,0
98919,98919,164301,164302,Which games on PS4 support 2 player split-screen?,Why isn't there a racing game in split-screen ...,0
302691,302691,425712,425713,Why IIT R is not allowing physical calculators...,What is the minimum rank required in GATE 2017...,0
349830,349830,478529,478530,How can I learn design for marketing materials?,Why can't Britain relinquish Gibraltar? Why ca...,0
309587,309587,125805,433588,How does polymorphism work in OOP?,Why do we still use OOP?,0

In [19]:
new_df.isnull().sum()

id              0
qid1            0
qid2            0
question1       0
question2       0
is_duplicate    0
dtype: int64

In [21]:
new_df.duplicated().sum()

0

In [23]:
ques_df=new_df[['question1','question2']]
ques_df.head()

,question1,question2
205370,What are some good teeth whitening kits?,What are some of the best teeth whitening toot...
312863,"Is 5' 8"" (175 cm) too short to be a male fitne...","Is 5' 9"" (175 cm) too short to be a male fitne..."
336518,Nowadays people think they are modern just bec...,Why do some people still wear wristwatches?
15591,What should I do improve my communication skill?,What should we do to improve communication ski...
383096,I got a Jio SIM for Samsung mobile. Can I use ...,Can the same Jio SIM be used on two different ...

In [27]:
from sklearn.feature_extraction.text import CountVectorizer
questions=list(ques_df['question1'])+list(ques_df['question2'])
cv=CountVectorizer(max_features=3000)
q1_arr,q2_arr=np.vsplit(cv.fit_transform(questions).toarray(),2)

In [31]:
temp_df1=pd.DataFrame(q1_arr,index=ques_df.index)
temp_df2=pd.DataFrame(q2_arr,index=ques_df.index)
temp_df=pd.concat([temp_df1,temp_df2],axis=1)
temp_df.shape

(30000, 6000)

In [33]:
temp_df

,0,1,2,3,4,5,6,7,8,9,...,2990,2991,2992,2993,2994,2995,2996,2997,2998,2999
205370,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
312863,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
336518,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
15591,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
383096,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
81524,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
98919,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
302691,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
349830,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
309587,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [35]:
temp_df['is_duplicate']=new_df['is_duplicate']

In [37]:
temp_df.head()

,0,1,2,3,4,5,6,7,8,9,...,2991,2992,2993,2994,2995,2996,2997,2998,2999,is_duplicate
205370,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
312863,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1
336518,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
15591,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1
383096,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [39]:
from sklearn.model_selection import train_test_split
x_train,x_test,y_train,y_test=train_test_split(temp_df.iloc[:,0:-1].values,temp_df.iloc[:,-1].values,test_size=0.2,random_state=42)

In [42]:
from sklearn.ensemble import RandomForestClassifier
from sklearn.metrics import accuracy_score
rf=RandomForestClassifier()
rf.fit(x_train,y_train)
y_pred=rf.predict(x_test)
accuracy_score(y_test,y_pred)

0.7365

In [48]:
pip install xgboost

Note: you may need to restart the kernel to use updated packages.Collecting xgboost

  Using cached xgboost-2.1.1-py3-none-win_amd64.whl.metadata (2.1 kB)
Requirement already satisfied: numpy in c:\users\hp\anaconda3\lib\site-packages (from xgboost) (1.26.4)
Requirement already satisfied: scipy in c:\users\hp\anaconda3\lib\site-packages (from xgboost) (1.11.4)
Using cached xgboost-2.1.1-py3-none-win_amd64.whl (124.9 MB)
Installing collected packages: xgboost
Successfully installed xgboost-2.1.1

In [52]:
from xgboost import XGBClassifier
xgb=XGBClassifier()
xgb.fit(x_train,y_train)
y_pred=xgb.predict(x_test)
accuracy_score(y_test,y_pred)

0.7256666666666667